html.dark {
  code[class*='language-'],
  pre[class*='language-'] {
    background: hsl(221, 39%, 11%);
    color: hsl(220, 13%, 91%);
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: 'JetBrains Mono', monospace;
    font-variant-ligatures: normal;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Selection */
  code[class*='language-'] {
    &::-moz-selection,
    *::-moz-selection {
      background: hsl(217, 19%, 27%);
      color: inherit;
      text-shadow: none;
    }
  }

  pre[class*='language-'] *::-moz-selection {
    background: hsl(217, 19%, 27%);
    color: inherit;
    text-shadow: none;
  }

  code[class*='language-'] {
    &::selection,
    *::selection {
      background: hsl(217, 19%, 27%);
      color: inherit;
      text-shadow: none;
    }
  }

  pre[class*='language-'] {
    *::selection {
      background: hsl(217, 19%, 27%);
      color: inherit;
      text-shadow: none;
    }

    /* Code Blocks */
    padding: 1em;
    /* margin: 0.5em 0; */
    overflow: auto;
    /* border-radius: 0.3em; */
  }

  /* Inline Code */
  :not(pre) > code[class*='language-'] {
    padding: 0.2em 0.3em;
    /* border-radius: 0.3em; */
    white-space: normal;
  }

  /* Print */
  @media print {
    code[class*='language-'],
    pre[class*='language-'] {
      text-shadow: none;
    }
  }

  .token {
    &.comment,
    &.prolog,
    &.cdata {
      color: hsl(220, 10%, 40%);
    }

    &.doctype,
    &.punctuation,
    &.entity {
      color: hsl(220, 14%, 71%);
    }

    &.attr-name,
    &.class-name,
    &.boolean,
    &.constant,
    &.number,
    &.atrule {
      color: hsl(29, 54%, 61%);
    }

    &.keyword {
      color: hsl(286, 60%, 67%);
    }

    &.property,
    &.tag,
    &.symbol,
    &.deleted,
    &.important {
      color: hsl(355, 65%, 65%);
    }

    &.selector,
    &.string,
    &.char,
    &.builtin,
    &.inserted,
    &.regex {
      color: hsl(95, 38%, 62%);
    }

    &.attr-value {
      color: hsl(95, 38%, 62%);

      > .token.punctuation {
        color: hsl(95, 38%, 62%);
      }
    }

    &.variable,
    &.operator,
    &.function {
      color: hsl(207, 82%, 66%);
    }

    &.url {
      color: hsl(187, 47%, 55%);
    }

    /* HTML Overrides */
    &.attr-value > .token.punctuation.attr-equals,
    &.special-attr > .token.attr-value > .token.value.css {
      color: hsl(220, 14%, 71%);
    }
  }

  /* CSS Overrides */
  .language-css .token {
    &.selector {
      color: hsl(355, 65%, 65%);
    }

    &.property {
      color: hsl(220, 14%, 71%);
    }

    &.function {
      color: hsl(187, 47%, 55%);
    }

    &.url > .token {
      &.function {
        color: hsl(187, 47%, 55%);
      }

      &.string.url {
        color: hsl(95, 38%, 62%);
      }
    }

    &.important,
    &.atrule .token.rule {
      color: hsl(286, 60%, 67%);
    }
  }

  /* JS Overrides */
  .language-javascript .token {
    &.operator {
      color: hsl(286, 60%, 67%);
    }

    &.template-string > .token.interpolation > .token.interpolation-punctuation.punctuation {
      color: hsl(5, 48%, 51%);
    }
  }

  /* JSON Overrides */
  .language-json .token {
    &.operator {
      color: hsl(220, 14%, 71%);
    }

    &.null.keyword {
      color: hsl(29, 54%, 61%);
    }
  }

  /* MD Overrides */
  .language-markdown .token {
    &.url {
      color: hsl(220, 14%, 71%);

      > .token.operator {
        color: hsl(220, 14%, 71%);
      }
    }

    &.url-reference.url > .token.string {
      color: hsl(220, 14%, 71%);
    }

    &.url > .token {
      &.content {
        color: hsl(207, 82%, 66%);
      }

      &.url {
        color: hsl(187, 47%, 55%);
      }
    }

    &.url-reference.url {
      color: hsl(187, 47%, 55%);
    }

    &.blockquote.punctuation,
    &.hr.punctuation {
      color: hsl(220, 10%, 40%);
      font-style: italic;
    }

    &.code-snippet {
      color: hsl(95, 38%, 62%);
    }

    &.bold .token.content {
      color: hsl(29, 54%, 61%);
    }

    &.italic .token.content {
      color: hsl(286, 60%, 67%);
    }

    &.strike .token {
      &.content,
      &.punctuation {
        color: hsl(355, 65%, 65%);
      }
    }

    &.list.punctuation,
    &.title.important > .token.punctuation {
      color: hsl(355, 65%, 65%);
    }
  }

  /* General */
  .token {
    &.bold {
      font-weight: bold;
    }

    &.comment,
    &.italic {
      font-style: italic;
    }

    &.entity {
      cursor: help;
    }

    &.namespace {
      opacity: 0.8;
    }
  }
}
