code[class*='language-'],
pre[class*='language-'] {
  background: hsl(210, 20%, 98%);
  color: hsl(217, 19%, 27%);
  font-family: 'JetBrains Mono', monospace;
  font-variant-ligatures: normal;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Selection */
code[class*='language-'] {
  &::-moz-selection,
  *::-moz-selection {
    background: hsl(220, 14%, 96%);
    color: inherit;
  }
}

pre[class*='language-'] *::-moz-selection {
  background: hsl(220, 14%, 96%);
  color: inherit;
}

code[class*='language-'] {
  &::selection,
  *::selection {
    background: hsl(220, 14%, 96%);
    color: inherit;
  }
}

pre[class*='language-'] {
  *::selection {
    background: hsl(220, 14%, 96%);
    color: inherit;
  }

  /* Code Blocks */
  padding: 1em;
  /* margin: 0.5em 0; */
  overflow: auto;
  /* border-radius: 0.3em; */
}

/* Inline Code */
:not(pre) > code[class*='language-'] {
  padding: 0.2em 0.3em;
  /* border-radius: 0.3em; */
  white-space: normal;
}

.token {
  &.comment,
  &.prolog,
  &.cdata {
    color: hsl(230, 4%, 64%);
  }

  &.doctype,
  &.punctuation,
  &.entity {
    color: hsl(230, 8%, 24%);
  }

  &.attr-name,
  &.class-name,
  &.boolean,
  &.constant,
  &.number,
  &.atrule {
    color: hsl(35, 99%, 36%);
  }

  &.keyword {
    color: hsl(301, 63%, 40%);
  }

  &.property,
  &.tag,
  &.symbol,
  &.deleted,
  &.important {
    color: hsl(5, 74%, 59%);
  }

  &.selector,
  &.string,
  &.char,
  &.builtin,
  &.inserted,
  &.regex {
    color: hsl(119, 34%, 47%);
  }

  &.attr-value {
    color: hsl(119, 34%, 47%);

    > .token.punctuation {
      color: hsl(119, 34%, 47%);
    }
  }

  &.variable,
  &.operator,
  &.function {
    color: hsl(221, 87%, 60%);
  }

  &.url {
    color: hsl(198, 99%, 37%);
  }

  /* HTML Overrides */
  &.attr-value > .token.punctuation.attr-equals,
  &.special-attr > .token.attr-value > .token.value.css {
    color: hsl(230, 8%, 24%);
  }
}

/* CSS Overrides */
.language-css .token {
  &.selector {
    color: hsl(5, 74%, 59%);
  }

  &.property {
    color: hsl(230, 8%, 24%);
  }

  &.function {
    color: hsl(198, 99%, 37%);
  }

  &.url > .token {
    &.function {
      color: hsl(198, 99%, 37%);
    }

    &.string.url {
      color: hsl(119, 34%, 47%);
    }
  }

  &.important,
  &.atrule .token.rule {
    color: hsl(301, 63%, 40%);
  }
}

/* JS Overrides */
.language-javascript .token {
  &.operator {
    color: hsl(301, 63%, 40%);
  }

  &.template-string > .token.interpolation > .token.interpolation-punctuation.punctuation {
    color: hsl(344, 84%, 43%);
  }
}

/* JSON Overrides */
.language-json .token {
  &.operator {
    color: hsl(230, 8%, 24%);
  }

  &.null.keyword {
    color: hsl(35, 99%, 36%);
  }
}

/* MD Overrides */
.language-markdown .token {
  &.url {
    color: hsl(230, 8%, 24%);

    > .token.operator {
      color: hsl(230, 8%, 24%);
    }
  }

  &.url-reference.url > .token.string {
    color: hsl(230, 8%, 24%);
  }

  &.url > .token {
    &.content {
      color: hsl(221, 87%, 60%);
    }

    &.url {
      color: hsl(198, 99%, 37%);
    }
  }

  &.url-reference.url {
    color: hsl(198, 99%, 37%);
  }

  &.blockquote.punctuation,
  &.hr.punctuation {
    color: hsl(230, 4%, 64%);
    font-style: italic;
  }

  &.code-snippet {
    color: hsl(119, 34%, 47%);
  }

  &.bold .token.content {
    color: hsl(35, 99%, 36%);
  }

  &.italic .token.content {
    color: hsl(301, 63%, 40%);
  }

  &.strike .token {
    &.content,
    &.punctuation {
      color: hsl(5, 74%, 59%);
    }
  }

  &.list.punctuation,
  &.title.important > .token.punctuation {
    color: hsl(5, 74%, 59%);
  }
}

/* General */
.token {
  &.bold {
    font-weight: bold;
  }

  &.comment,
  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }

  &.namespace {
    opacity: 0.8;
  }
}
