@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl md:text-6xl;
  }

  h2 {
    @apply text-4xl md:text-5xl;
  }

  h3 {
    @apply text-3xl md:text-4xl;
  }
}

@layer components {
  .retro-button {
    @apply inline-block mr-3 mb-3 p-2 text-gray-900 dark:text-gray-50 bg-rose-300 dark:bg-red-400 drop-shadow-dark dark:drop-shadow-light hover:translate-x-3 hover:translate-y-3 hover:filter-none dark:hover:filter-none focus:translate-x-3 focus:translate-y-3 focus:filter-none dark:focus:filter-none transition;
  }
}

@layer utilities {
  .font-jetbrains-mono {
    font-family: 'JetBrains Mono', monospace;
  }

  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  .font-monoton {
    font-family: 'Monoton', cursive;
  }
}
