---
import clsx from 'clsx';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import { PrimaryContainer, SecondaryContainer } from '../components/containers/index';
import Footer from '../components/Footer';
import Button from '../components/Button';
import SnippetWrapper from '../components/SnippetWrapper';
import { getAllCategories, getAllSnippets } from '../services';
import { markdownToHtml, sortBy } from '../utils';

interface Category {
  title: string;
  subTitle: string;
}

interface Snippet {
  title: string;
  content: string;
  categories: {
    title: string;
  }[];
}

export async function getStaticPaths() {
  const allCategories = await getAllCategories();
  const sortedCategories = allCategories.docs.sort(sortBy<Category>('title'));

  const allSnippets = await getAllSnippets();
  const parsedSnippets = await Promise.all(
    allSnippets.docs.map(async (snippet: Snippet) => {
      const content = await markdownToHtml(snippet.content);
      return { ...snippet, content };
    })
  );

  return [
    {
      params: { category: 'random' },
      props: {
        categories: sortedCategories,
        snippets: parsedSnippets
      }
    },
    ...allCategories.docs.map((cat: Category) => ({
      params: { category: cat.title.toLowerCase() },
      props: {
        categories: sortedCategories,
        snippets: parsedSnippets.filter((snippet: Snippet) =>
          snippet.categories.map(({ title }) => title).includes(cat.title)
        )
      }
    }))
  ];
}

export interface Props {
  categories: Category[];
  snippets: Snippet[];
}

const { category } = Astro.params;
const { categories, snippets } = Astro.props;
---

<Layout title={`${category} | 1 Min Learning`}>
  <Header client:idle />

  <main class="flex flex-col md:flex-row flex-grow flex-shrink-0">
    <PrimaryContainer>
      <SnippetWrapper allSnippets={snippets} client:load />
      <Button href={`/${category}`}>another one</Button>
    </PrimaryContainer>

    <SecondaryContainer className="">
      <h3 class="mb-4 font-monoton text-gray-50">CATS*</h3>

      <div class="inline-flex flex-wrap flex-row">
        {
          categories.map(cat => {
            const lowerTitle = cat.title.toLowerCase();

            return (
              <Button
                href={category === lowerTitle ? '/random' : `/${lowerTitle}`}
                className={clsx(
                  'mt-3 mr-6 mb-6 ml-3 p-2 dark:text-gray-900 focus:text-rose-300 dark:focus:text-red-400 bg-gray-50 dark:bg-gray-50 dark:drop-shadow-dark',
                  category === lowerTitle &&
                    'text-rose-300 dark:text-red-400 translate-x-3 translate-y-3 filter-none dark:filter-none'
                )}>
                {lowerTitle}
              </Button>
            );
          })
        }
      </div>

      <p class="mt-4 md:mt-auto font-poppins text-gray-50">
        * <span class="font-bold">CATS</span> means <span class="font-bold">categories</span>
      </p>
    </SecondaryContainer>
  </main>

  <Footer client:visible />
</Layout>

<style>

</style>
