---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import { PrimaryContainer, SecondaryContainer } from '../components/containers/index';
import Footer from '../components/Footer';
import Button from '../components/Button';
import Card from '../components/Card';
import { getAllCategories, getAllQuotes, getAllSnippets } from '../services';

const allCategories = await getAllCategories();
const allQuotes = await getAllQuotes();
const allSnippets = await getAllSnippets();

const [quote] = await allQuotes.docs;
---

<Layout title="1 Min Learning">
  <Header client:idle />

  <main class="flex flex-col md:flex-row flex-grow flex-shrink-0">
    <PrimaryContainer>
      <h1 class="font-monoton text-rose-600 dark:text-red-500">QUOTE OF THE DAY</h1>
      <p class="my-4 font-poppins text-gray-700 dark:text-gray-100">
        {quote.content} - <span class="font-bold">{quote.author}</span>
      </p>
      <Button href="/random">random snippet</Button>
    </PrimaryContainer>

    <SecondaryContainer className="md:p-0">
      <div class="h-full inline-flex flex-wrap md:flex flex-row md:flex-col items-center justify-center">
        <Card className="w-[120px] h-[120px] ml-3 mr-6 mt-3 mb-6" title={allQuotes.totalDocs + ''} subTitle="quotes" />
        <Card
          className="w-[120px] h-[120px] ml-3 mr-6 mt-3 mb-6"
          title={allSnippets.totalDocs + ''}
          subTitle="snippets"
        />
        <Card
          className="w-[120px] h-[120px] ml-3 mr-6 mt-3 mb-6"
          title={allCategories.totalDocs + ''}
          subTitle="cats"
        />
      </div>
    </SecondaryContainer>
  </main>

  <Footer client:idle />
</Layout>

<style>
  .drop-shadow-strict {
    filter: drop-shadow(12px 12px 0 #111827);
  }
</style>
