---
import '@fontsource/jetbrains-mono';
import '@fontsource/monoton';
import '@fontsource/poppins';

import '../styles/_dark.scss';
import '../styles/_light.scss';
import '../styles/tailwind.css';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#fda4af" />
    <title>{title}</title>
  </head>

  <body class="h-screen flex flex-col bg-white dark:bg-gray-900">
    <slot />
    <style>
      body {
        margin: 0;
      }
    </style>

    <style is:global>
      ::-webkit-scrollbar {
        width: 1.5rem;
      }

      ::-webkit-scrollbar-track {
        background: hsl(210, 20%, 98%);
        border-left: 4px solid hsl(221, 39%, 11%);
      }

      ::-webkit-scrollbar-thumb {
        background: hsl(221, 39%, 11%);
      }

      html.dark ::-webkit-scrollbar-track {
        background: hsl(221, 39%, 11%);
        border-left: 4px solid hsl(210, 20%, 98%);
      }

      html.dark ::-webkit-scrollbar-thumb {
        background: hsl(210, 20%, 98%);
      }

      /*
      ::selection {
        background: #f3f4f6;
      }

      ::-moz-selection {
        background: #f3f4f6;
      }

      html.dark ::selection {
        background: #374151;
      }

      html.dark ::-moz-selection {
        background: #374151;
      }
      */
    </style>
  </body>
</html>
